@font-face {
  font-family: 'iconfont';  /* project id 570362 */
  src: url('https://at.alicdn.com/t/font_570362_44whn3op3kf647vi.eot');
  src: url('https://at.alicdn.com/t/font_570362_44whn3op3kf647vi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_570362_44whn3op3kf647vi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_570362_44whn3op3kf647vi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_570362_44whn3op3kf647vi.svg#iconfont') format('svg');
}
.all{
	height: 12.6rem;
	width: 7.5rem;
	overflow-y: scroll;
	position: relative;
}
.search{
	height: 0.88rem;
	width: 7.5rem;
	background-color: #D33D3E;
	position: fixed;
	top: 0;
}
.jinritoutiao{
	width: 2rem;
	height: 0.41rem;
	background:url('../img/jinritoutiao.png');
	background-repeat: no-repeat;
	background-position:0.05rem center ;
	background-size: 2rem 0.41rem;
	float: left;
	margin-top: 0.195rem;
	margin-left: 0.24rem;
}
.search input{
	font-family: iconfont;
	color: #696969;
	font-size: 0.28rem;
	border:0;
	width: 4.53rem;
	height: 0.6rem;
	border-radius: 0.05rem;
	float: right;
	padding-left: 0.22rem;
	margin-right: 0.46rem;
	margin-top: 0.12rem;
}
.nav{
	height: 0.88rem;
	display: flex;
	overflow-x: scroll;
	width: 7.2rem;
	position: fixed;
	top: 0.88rem;
	padding-left: 0.3rem;
	background-color: #fff;
}
.nav p{
	font-size: 0.36rem;
	width: 1.18rem;
	flex-direction: row;
	flex-wrap: wrap;
	flex-shrink: 0;
	align-self: center;
}
.nav_cover{
	width: 0.80rem;
	height: 0.87rem;
	background-color: rgba(255, 255, 255, 0.6);
	position: fixed;
	top: 0.88rem;
	right: 0;
}
.nav_cover p{
	font-family: iconfont;
	font-size: 0.45rem;
	margin-left: 0.19rem;
	margin-top: 0.21rem;
}
.nav_line{
	width: 0.01rem;
	height: 0.5rem;
	background-color: #D7D7D7;
	position: absolute;
	top: 0.18rem;
	right: 0.8rem;
}
.nav::-webkit-scrollbar {
    display: none;
}
.line{
	background-color: #EBEBEB;
	position: fixed;
	top: 1.76rem;
	right: 0rem;
	width: 100vw;
	height: 0.01rem;
}
.item{
	width: 7.02rem;
	padding-left: 0.24rem;
	padding-right: 0.24rem;
	margin-top: 1.77rem;

}
.item_sheji{
	height: 3.26rem;
	padding-top: 0.13rem;
}
.item_sheji p{
	font-size: 0.36rem;
}
.item_sheji_img{
	width: 2.3rem;
	height: 1.68rem;
	float: left;
	margin-left: 0;
	margin-right: 0.06rem;
	margin-top: 0.1rem;
}
.item_sheji_img1{
	margin-right: 0;
}
.item_sheji span{
	font-size: 0.17rem;
	float: left;
	margin-top: 0.08rem;
	color: #8B8B8B;
}
.item_erji{
	height: 3.31rem;
	width: 7.02rem;
	border-top: 1px solid #D9D9D9;
	border-bottom: 2px solid #D9D9D9;
}
.item_erji_img{
	border: 0.01rem solid #D9D9D9;
	width: 2.28rem;
}
.item_erji_img img{
	width: 1.5rem;
	height: 1.5rem; 
	margin:auto; 
	margin-top:0.08rem;   
}
.item_haibao{
	height: 2.85rem;
	border-bottom: 1px solid #D9D9D9;
}
.item_haibao1{
	height: 2.85rem;
	border-bottom: 2px solid #D9D9D9;
}
.item_erji1{
	border: 0;
}
.tab{
	height: 0.98rem;
	width: 7.26rem;
	padding-left: 0.24rem;
	background-color: #F9F9F9;
	position:fixed;
	bottom: 0;
}
.tab1{
	width: 1.755rem;
	height: 100%;
	padding-top: 0.15rem;
	padding-bottom: 0.12rem;
	float: left;
}
.tab1_tu{
	font-family: iconfont;
	font-size: 0.3rem;
	color: #000000;
	text-align: center;
}
.tab1_zi{
	font-size: 0.24rem;
	color: #818181;
	text-align: center;
}
.tab1:hover .tab1_tu,.tab1:hover .tab1_zi{
	color: #FE5758; 
}